<footer class="footer">
  <div class="container">
    <nav class="footer-nav">
      <a class="footer-nav-item" href="{{ site.baseurl }}/">Orange</a>
      <a class="footer-nav-item" href="{{ site.baseurl }}/docs/">Docs</a>
      <a class="footer-nav-item" href="{{ site.baseurl }}/blog/">Blog</a>
      <a class="footer-nav-item" href="{{ site.baseurl }}/releases/">Releases</a>
      <a class="footer-nav-item" href="https://github.com/sumory/orange">Repository</a>
    </nav>
    <span class="footer-love">
      <a href='https://github.com/sumory' class="no-underline"><span class='octicon octicon-code'></span> with <span class='octicon octicon-heart'></span> by <strong>sumory</strong></a>
    </span>
  </div>
</footer>
