<header class="site-header">
  <div class="container">

    <a class="site-header-logo no-underline-hover" href="{{ site.baseurl }}/">
      <span style="font-weight:700;">Orange</span>
    </a>

    <nav class="site-header-nav">
      {% capture first_segment %}{{ page.url | remove_first: "/" | split: "/" | first }}{% endcapture %}

      <a class="site-header-nav-item {% if first_segment == 'install' %}active{% endif %}" href="{{ site.baseurl }}/install">Install</a>

      <a class="site-header-nav-item {% if first_segment == 'docs' %}active{% endif %}" href="{{ site.baseurl }}/docs/">Docs</a>
      <a class="site-header-nav-item {% if first_segment == 'blog' %}active{% endif %}" href="{{ site.baseurl }}/blog/">Blog</a>
      <a class="site-header-nav-item {% if first_segment == 'releases' %}active{% endif %}" href="{{ site.baseurl }}/releases/">Releases</a>
      <a class="site-header-nav-item" href="https://github.com/sumory/orange" title="Github Repository"><span class="mega-octicon octicon-mark-github vertical-middle"></span></a>
    </nav>
  </div>
</header>
