<header class="site-header">
  <div class="container">

    <div class="site-header-logo no-underline-hover" style="float: left;">
      <a class="logo-link" href="{{ site.baseurl }}/">
        <img src="/images/logo.png">
        <span>Orange</span>
      </a>
    </div>

    <nav class="site-header-nav">
      {% capture first_segment %}{{ page.url | remove_first: "/" | split: "/" | first }}{% endcapture %}

      <a class="site-header-nav-item {% if first_segment == 'install' %}active{% endif %}" href="{{ site.baseurl }}/install">安装</a>

      <a class="site-header-nav-item {% if first_segment == 'docs' %}active{% endif %}" href="{{ site.baseurl }}/docs/">使用文档</a>
      <a class="site-header-nav-item {% if first_segment == 'blog' %}active{% endif %}" href="{{ site.baseurl }}/blog/">博客</a>
      <a class="site-header-nav-item {% if first_segment == 'releases' %}active{% endif %}" href="{{ site.baseurl }}/releases/">发布日志</a>
      <a class="site-header-nav-item" href="https://github.com/sumory/orange" title="Github Repository"><span class="mega-octicon octicon-mark-github vertical-middle"></span></a>
    </nav>
  </div>
</header>
