---
layout: default
---

<div class='subtron text-left' style="padding-top:40px;padding-bottom:40px;">
  <div class='container-narrow'>
    <h1><span class="mr-3 mr-lg-4">Orange 使用文档</span><span class="docs-version">{{ site.latest_version }}</span></h1>

    <h4 class="docs-breadcrumbs">
      <a href='{{ site.baseurl }}/docs/'>Docs</a>
      {% if page.category != 'ignore' %}
      <span class="docs-breadcrumbs-divider">/</span>
      <a href='{{ site.baseurl }}/docs/{{ page.category | downcase }}/'>{{ page.category }}</a>
      {% endif %}

      {% if page.title != 'README' %}
      <span class="docs-breadcrumbs-divider">/</span>
      {% if page.breadcrumb %}
      {{ page.breadcrumb }}
      {% else %}
      {{ page.title }}
      {% endif %}
      <!-- <a class="ml-4" href='{{ page.source_url }}'><span class="octicon octicon-pencil"></span> Edit source</a> -->
      {% endif %}
    </h4>
  </div>
</div>


<section class='page-section docs strong-headers'>
  <div class='container-narrow'>

    {{ content }}


  </div>
</section>
